/** Fonts **/
/* Note: The font naming has to be consistent to the projector.html */
$font: 'PT Sans';
$font-src: url('../fonts/ptsans_regular.woff') format('woff');
$font-medium: 'PT Sans Bold';
$font-medium-src: url('../fonts/ptsans_bold.woff') format('woff');
$font-condensed: 'Arvo Regular';
$font-condensed-src: url('../fonts/arvo_regular.woff') format('woff');
$font-condensed-light: 'Arvo Regular Light';
$font-condensed-light-src: url('../fonts/arvo_regular.woff') format('woff');
